.calculadora {
    background: rgb(255, 0, 0);
    width: 200px;
    padding: 10px;
}

#btnCalc {
    background: rgb(0, 0, 255);
    color: white;
    padding: 2px;
}
#btnCalc:hover {
    background: blue;
    color: black;
    cursor: pointer;
}

.spResultado{
    background: black;
    color: yellow;
    padding: 4px;
    margin: 2px;
}